@import "../../constants/sass/functions";

.SearchBox {
  background-color: #F5F5F5;
  @include dimension(100%, 30px);
  @include borderRadius(20px);
  font-size: 15px;
  @include row;
  padding-right: 10px;
}
.input {
  height: 100%;
  padding-left: 10px;
  flex: 1;
  background: none;
  border: none;
  font-size: 15px;
}
