@import "../../constants/sass/functions";

.Thumbnail {
  @include square(90px);
  @include borderRadius(20px);
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: #F5F5F5;
  position: relative;
}
